.form-contact {
    width: 30%;
}

@media screen and (max-width:992px) {
    .form-contact {
        width: 40%;
    }
}
@media screen and (max-width:768px) {
    .form-contact {
        width: 65%;
    }
}

